/* Base styles */
body {
    font-family: sans-serif;
    color: white;
    justify-content: flex-start;
    align-items: flex-start;
    background-position: top;
    background-size: cover;
    background-image: url("themes/default_cubes/background.png") 
}

/* Header styles */
header {
    position: fixed;
    top: 0;
    right: -2px;
    width: 101%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 20;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1.5px);
}

header h1 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

header .container {
    margin: 0 auto;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

header nav ul li a {
    transform: scale(1.0);
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
    transform: scale(2.1);
}

/* CSS CHANGER WIP /*
/* .dropdown-btn {
    background-color: #4CAF50;
    color: #fff;
    padding: px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown-btn:hover + .dropdown-content {
    display: block;
  }
  
  .dropdown-content:hover {
    display: block;
  } */

/* Video and thumbnail styles */
.video-thumbnail {
    aspect-ratio: 16/9;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.yt-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('ytbutton.png');
    background-size: cover;
    width: 50px; 
    height: 50px;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.yt-button svg {
    width: 36px;
    height: 36px;
    fill: #FFFFFF;
}

.video-container {
    width: 90%;
    height: auto;
}

/* Table styles */
table {
    margin-top: 60px;
    width: 100%;
    font-size: 14px;
    text-align: left;
    background-color: transparent;
    border-spacing: 0 25px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 600px;
    display: flex;
    justify-content: center;
}

td, th {
    backdrop-filter: blur(1.5px);
    background-color: rgba(255, 255, 255, 0.1);    
    color: white !important;
}

tbody tr {
    transition: transform 0.3s ease;
}

tbody tr:hover {
    background-color: #44444433;
    transition: background-color 0.3s ease, transform 0.3s ease;
    transform: scale(1.05);
}

.video {
    border-top-left-radius: 10px;   
    border-bottom-left-radius: 10px;
    margin: 5px;
}

td:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* Info button styles */
.info {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding-left: 4px;
    font-size: 14px;
    text-align: left;
    width: 96%;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    color: rgb(230, 230, 230);
    background-color: transparent;
}

/* Name and completion styles */
.name {
    flex-direction: row;
    font-weight: bold;
    font-size: 16px;
    text-align: left;
}

span.completedBy {
    color: rgb(196, 196, 196);
}

span.name {
    font-weight: bold;
    margin-bottom: 0;
}

/* Full info view styles */
.full-info-container {
    margin-top: 70px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(25, 25, 25, 0.9);
    backdrop-filter: blur(15px);
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}



.full-info-container .rank-name {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.full-info-container .rank {
    font-size: 48px;
    font-weight: bold;
    color: white;
}

.full-info-container .level-name {
    font-size: 32px;
    color: white;
}

.full-info-container .video-container {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
}

.full-info-container .level-details {
    width: 100%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    text-align: center;
}

.full-info-container .detail-item {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 15px;
    border-radius: 10px;
}


.fullinfoh2 {
    text-align: center;
}

#embed-container {
    border-radius: 10px;
}

#embed-container iframe {
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-info #embed-container iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9; /* adjust this to the desired aspect ratio */
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
}



/* Back button */
.back-button {
    background-image: url('icons/backarrow.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 10px;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    top: 16px;
    background-color: transparent;
}

/* iframe default size */
iframe {
    width: 512px;
    height: 256px;
}