@media only screen and (max-width: 768px) {

    table {

      font-size: 14px;
    }


    /* Hamburger Menu Styles */
    #hamburger {
        display: block;
        background-color: transparent;
        color: #fff;
        padding: 0;
        border: none;
        cursor: pointer;
        width: 30px;
        height: 30px;
        font-size: 18px;
        text-align: center;
        transition: all 0.3s ease-in-out;
        background-color: transparent;
        border: black;

    }
    
    #hamburger:hover {
        transform: scale(1.1);
    }
    
    #hamburger .bar {
        display: block;
        width: 25px;
        height: 3px;
        background-color: #ffffff;
        margin: 3px 0;
        backdrop-filter: blur(1.5px);
    }
    
    #nav {
    animation: slideUp 0.3s ease-in-out;
    display: none;
    }

    #nav.show {
        display: block;
        position: absolute;
        top: 100%;
        right: 0;
        width: 200px;
        background-color: transparent;
        padding: 10px 0;
        animation: slideDown 0.3s ease-in-out;
        backdrop-filter: blur(1.5px);
        
    }


    #nav.show ul {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-direction: column;
    }

    #nav.show li {
      padding: 10px;
      border: solid 1px ;
    }



    #dropdown {
      display: none;
      position: absolute;
      top: 100%;
      right: 0;
      width: 200px;
      background-color: #fff;
      padding: 10px 0;
      animation: slideDown 0.3s ease-in-out;
      backdrop-filter: blur(1.5px);
    }
    
    #dropdown ul {
      list-style: none;
      padding: 0;
      margin: 0;
      flex-direction: column;
    }
    
    #dropdown li {
      padding: 10px;
    }
    




  
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
  
@keyframes slideUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}



/* css picker styles */

.dropdown-btn {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown-btn:hover + .dropdown-content {
  display: block;
}

.dropdown-content:hover {
  display: block;
}


}






