@media only screen and (max-width: 768px) {

    table {

      font-size: 14px;
    }


    /* Hamburger Menu Styles */
    #hamburger {
        display: block;
        background-color: transparent;
        color: #fff;
        padding: 10px;
        border: none;
        cursor: pointer;
        width: 30px;
        height: 30px;
        font-size: 18px;
        text-align: center;
        transition: all 0.3s ease-in-out;
        background-color: transparent;
        border: black;
        padding: 0;
    }
    
    #hamburger:hover {
        transform: scale(1.1);
    }
    
    #hamburger .bar {
        display: block;
        width: 25px;
        height: 3px;
        background-color: #ffffff;
        margin: 3px 0;
        backdrop-filter: blur(1.5px);
    }
    
    #nav {
    animation: slideUp 0.3s ease-in-out;
    display: none;
    }

    #nav.show {
        display: block;
        position: absolute;
        top: 100%;
        right: 0;
        width: 200px;
        background-color: transparent;
        padding: 10px 0;
        animation: slideDown 0.3s ease-in-out;
        backdrop-filter: blur(1.5px);
        
    }


    #nav.show ul {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-direction: column;
    }

    #nav.show li {
      padding: 10px;
      border: solid 1px ;
    }



    #dropdown {
      display: none;
      position: absolute;
      top: 100%;
      right: 0;
      width: 200px;
      background-color: #fff;
      padding: 10px 0;
      animation: slideDown 0.3s ease-in-out;
      backdrop-filter: blur(1.5px);
    }
    
    #dropdown ul {
      list-style: none;
      padding: 0;
      margin: 0;
      flex-direction: column;
    }
    
    #dropdown li {
      padding: 10px;
    }
    




  
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
  
@keyframes slideUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
}
